bcrypt
blinker
Flask-JWT-Extended
Flask-Mail
flask 
flask_cors
gTTS
huggingface-hub
oauthlib
openai
pandas
Pillow
pydantic
pydantic_core
PyJWT
SecretStorage
SQLAlchemy
yt-dlp
python-dotenv
boto3
instaloader
moviepy
gunicorn
Flask-PyMongo
ffmpeg
gunicorn
pytube
