attrs
beautifulsoup4
blinker
boto3
botocore
Brotli
certifi
cffi
charset-normalizer
click
colorama
cryptography
decorator
dnspython
exceptiongroup
facebook-downloader
ffmpeg
ffmpeg-python
flask
Flask-Cors
Flask-PyMongo
flask-sqlalchemy
future
FVD
greenlet
gunicorn
h11
idna
imageio
imageio-ffmpeg
importlib-metadata
instaloader
itsdangerous
jeepney
jinja2
jmespath
MarkupSafe
moviepy
mutagen
numpy
opencv-python
outcome
packaging
pillow
proglog
pycparser
pycryptodomex
pymongo
PySocks
python-dateutil
python-dotenv
requests
s3transfer
SecretStorage
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
tqdm
trio
trio-websocket
typing-extensions
urllib3
websocket-client
websockets
werkzeug
wsproto
yt-dlp
zipp
