beautifulsoup4
boto3
botocore
facebook-downloader
ffmpeg
ffmpeg-python
Flask
Flask-Cors
Flask-PyMongo
Flask-SQLAlchemy
FVD
gunicorn
imageio
imageio-ffmpeg
instaloader
moviepy
numpy
opencv-python
pillow
pymongo
python-dotenv
requests
SecretStorage
yt-dlp
bcrypt
Flask-Mail
flask-jwt-extended